@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #1f1f1f;
};

header {
    background-color: white;
    width: 100%;
    .header-container{
        width: 70%;
        margin: 0 auto;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        .logo{
            padding: 1rem 0;
            height: 100%;
            img{
                height: 100%;
            }
        }
    
        ul{
            display: flex;
            list-style-type: none;
            height: 100%;
            margin-bottom: 0;
            
        
            li{
                display: inline-block;
                padding: 0 0.8rem;
                text-transform: uppercase;
                line-height: calc(120px - 0.45rem);
                font-weight: 700;
                font-size: 0.9rem;
                border-bottom: 2px solid white;
        
                a{
                    text-decoration: none;
                    color: black;
                }

                &.active{
                    color: #0282f9;
                    border-bottom: 2px solid #0282f9;
                }
        
                &:hover {
                    border-bottom: 2px solid #0282f9;
                    cursor: pointer;
                }

                &:hover a{
                    color: #0282f9;
                }

            }
        }
    }
}

main {
    .content-part{
        background-color: black;
        padding-bottom: 2rem;
        .jumbotron{
            height: 450px;
            background-image: url('../assets/img/jumbotron.jpg');
            background-size: cover;
        }
    
        .comics-grid{
            width: 70%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            padding-top: 4rem;
            position: relative;
    
            .current{
                position: absolute;
                left: 0;
                top: -28px;
            }

            .comics-card{
                width: calc((100% / 6) - 2rem);
                display: flex;
                flex-direction: column;
                margin: 0 1rem;
                .image-box{
                    width: 100%;
                    height: 60%;
                    overflow: hidden;
        
                    img{
                        width: 100%;
                    }
                }
                .text-box{
                    padding-top: 1.5rem;
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    color: white;
                }
            }
        }
        .more-btn{
            text-align: center;
            width: 12%;
            margin: 0 auto;
            cursor: pointer;
        }
    
        .blue-btn{
            text-transform: uppercase;
            color: white;
            background-color: #0282f9;
            padding: 0.8rem 2rem;
        }
    };
    .icons-nav{
        background-color: #0282f9;
        padding: 4rem 0;
        
        .icons-container{
            width: 70%;
            margin: 0 auto;
            color: white;
            display: flex;
            justify-content: space-between;
            .banner-element{
                display: flex;
                align-items: center;
                margin: 0 0.5rem;
    
                img{
                    width: 55px;
                }
    
                p{
                    margin-left: 1rem;
                }
            }
        }
    }
}